<a href="https://colab.research.google.com/github/muhamedezzat/JavaScript-Application/blob/master/Dataset_Creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Disney Dataset Creation (w/ Python BeautifulSoup)
Scrape & clean a list of disney wikipedia pages to create a dataset to further analyze

### Task #1: Get Info Box (store in Python dictionary)

#### Import Necessary Libraries

In [ ]:
from bs4 import BeautifulSoup as bs
import requests

#### Load the webpage

In [ ]:
r = requests.get("https://en.wikipedia.org/wiki/Toy_Story_3")

# Convert to a beautiful soup object
soup = bs(r.content)

# Print out the HTML
contents = soup.prettify()
print(contents)

In [ ]:
info_box = soup.find(class_="infobox vevent")
info_rows = info_box.find_all("tr")
for row in info_rows:
    print(row.prettify())

In [ ]:
def get_content_value(row_data):
    if row_data.find("li"):
        return [li.get_text(" ", strip=True).replace("\xa0", " ") for li in row_data.find_all("li")]
    else:
        return row_data.get_text(" ", strip=True).replace("\xa0", " ")

movie_info = {}
for index, row in enumerate(info_rows):
    if index == 0:
        movie_info['title'] = row.find("th").get_text(" ", strip=True)
    elif index == 1:
        continue
    else:
        content_key = row.find("th").get_text(" ", strip=True)
        content_value = get_content_value(row.find("td"))
        movie_info[content_key] = content_value
    
movie_info

### Task #2: Get info box for all movies

In [ ]:
r = requests.get("https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films")

# Convert to a beautiful soup object
soup = bs(r.content)

# Print out the HTML
contents = soup.prettify()
print(contents)

In [ ]:
movies = soup.select(".wikitable.sortable i")
movies[0:10]

In [ ]:
def get_content_value(row_data):
    if row_data.find("li"):
        return [li.get_text(" ", strip=True).replace("\xa0", " ") for li in row_data.find_all("li")]
    elif row_data.find("br"):
        return [text for text in row_data.stripped_strings]
    else:
        return row_data.get_text(" ", strip=True).replace("\xa0", " ")

def clean_tags(soup):
    for tag in soup.find_all(["sup", "span"]):
        tag.decompose()
        
def get_info_box(url):

    r = requests.get(url)
    soup = bs(r.content)
    info_box = soup.find(class_="infobox vevent")
    info_rows = info_box.find_all("tr")
    
    clean_tags(soup)

    movie_info = {}
    for index, row in enumerate(info_rows):
        if index == 0:
            movie_info['title'] = row.find("th").get_text(" ", strip=True)
        else:
            header = row.find('th')
            if header:
                content_key = row.find("th").get_text(" ", strip=True)
                content_value = get_content_value(row.find("td"))
                movie_info[content_key] = content_value
            
    return movie_info

In [ ]:
get_info_box("https://en.wikipedia.org/wiki/One_Little_Indian_(film)")

In [ ]:
r = requests.get("https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films")
soup = bs(r.content)
movies = soup.select(".wikitable.sortable i a")

base_path = "https://en.wikipedia.org/"

movie_info_list = []
for index, movie in enumerate(movies):
    if index % 10 == 0:
        print(index)
    try:
        relative_path = movie['href']
        full_path = base_path + relative_path
        title = movie['title']
        
        movie_info_list.append(get_info_box(full_path))
        
    except Exception as e:
        print(movie.get_text())
        print(e)

0
10
20
30
40
Zorro the Avenger
'NoneType' object has no attribute 'find'
The Sign of Zorro
'NoneType' object has no attribute 'find'
50
60
70
80
90
100
110
120
True-Life Adventures
'NoneType' object has no attribute 'find_all'
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430

In [ ]:
len(movie_info_list)

437

#### Save/Reload Movie Data

In [ ]:
import json

def save_data(title, data):
    with open(title, 'w', encoding='utf-8') as f:
        json.dump(data, f, ensure_ascii=False, indent=2)

In [ ]:
import json

def load_data(title):
    with open(title, encoding="utf-8") as f:
        return json.load(f)

In [ ]:
save_data("disney_data_cleaned.json", movie_info_list)

In [ ]:
import requests 
from bs4 import BeautifulSoup as bs

def get_Content_Value(rowData):
    if rowData.find("li"):
      return [li.get_text(" ",strip=True).replace("\xa0"," ")  for li in rowData.find_all("li")] 
    else:
      return rowData.get_text(" ",strip=True).replace("\xa0"," ")


def get_All_Films(fullPath):
  r = requests.get(fullPath)
  soup = bs(r.content)

  infoBox = soup.find(class_="infobox vevent")
  infoRows = infoBox.find_all("tr")
  
  movieInfo = {}

  for index , row in enumerate(infoRows):
    if index == 0 :
      movieInfo["title"] = row.find("th").get_text(" ",strip=True)
    elif index == 1:
     continue
    else:
      contentKey= row.find("th").get_text(" ",strip=True)
      contentValue= get_Content_Value(row.find("td"))
      movieInfo[contentKey] = contentValue
  
  return movieInfo

allreq = requests.get("https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films")
soup2 = bs(allreq.content)
filmTables = soup2.select(".wikitable.sortable i a")

basePath = "https://en.wikipedia.org/"

movieList = [ ]
for index , movie in enumerate(filmTables):
  # if index == 10:
  #   break

  try:
    relativePath = movie["href"]
    fullPath = basePath + relativePath
    title = movie["title"]
    movieList.append(get_All_Films(fullPath))
  
  except Exception as e:
      print(movie.get_text())
      print(e)

# print(movieList)

import json
def save(title,data):
  with open(title,"w",encoding="utf-8") as f:
    json.dump(data,f,ensure_ascii=False,indent=3)

def load(title):
  with open(title,encoding="utf-8") as f:
    return json.load(f)

save("Disney Data.json",movieList)

Zorro the Avenger
'NoneType' object has no attribute 'find'
The Sign of Zorro
'NoneType' object has no attribute 'find'
One Little Indian
'NoneType' object has no attribute 'get_text'
True-Life Adventures
'NoneType' object has no attribute 'find_all'
Spirited Away
'NoneType' object has no attribute 'get_text'
Howl's Moving Castle
'NoneType' object has no attribute 'get_text'
The Nightmare Before Christmas 3D
'NoneType' object has no attribute 'get_text'
Ponyo
'NoneType' object has no attribute 'get_text'
Tales from Earthsea
'NoneType' object has no attribute 'get_text'
The Secret World of Arrietty
'NoneType' object has no attribute 'get_text'
Khoobsurat
'NoneType' object has no attribute 'get_text'
Tini: The Movie
'NoneType' object has no attribute 'get_text'
Born in China
'NoneType' object has no attribute 'get_text'

### Task #3: Clean our data!

In [ ]:
movie_info_list = load_data("disney_data_cleaned.json")

#### Subtasks
- ~~Clean up references [1]~~
- ~~Convert running time into an integer~~
- Convert dates into datetime object
- ~~Split up the long strings~~
- ~~Convert Budget & Box office to numbers~~

In [ ]:
movie_info_list[-40]

In [ ]:
print([movie.get('Running time', 'N/A') for movie in movie_info_list])

In [ ]:
# "85 minutes"
def minutes_to_integer(running_time):
    if running_time == "N/A":
        return None
    
    if isinstance(running_time, list):
        return int(running_time[0].split(" ")[0])
    else: # is a string
        return int(running_time.split(" ")[0])

for movie in movie_info_list:
    movie['Running time (int)'] = minutes_to_integer(movie.get('Running time', "N/A"))

In [ ]:
print([movie.get('Running time (int)', 'N/A') for movie in movie_info_list])

[41, 83, 88, 126, 74, 64, 70, 42, 65, 71, 75, 94, 73, 75, 82, 68, 74, 96, 75, 84, 77, 92, 69, 81, 60, 127, 92, 76, 75, 73, 85, 81, 70, 90, 80, 75, 83, 83, 72, 97, 75, 104, 93, 105, 95, 97, 134, 69, 92, 126, 79, 97, 128, 74, 91, 105, 98, 130, 89, 93, 67, 98, 100, 118, 103, 110, 80, 79, 91, 91, 97, 118, 139, 92, 131, 87, 116, 93, 110, 110, 131, 101, 108, 84, 78, 75, 164, 106, 110, 99, 113, 108, 112, 93, 91, 93, 100, 100, 79, 96, 113, 89, 118, 92, 88, 92, 87, 93, 93, 93, 90, 83, 96, 88, 89, 91, 93, 92, 97, 100, 100, 89, 91, 112, 115, 95, 91, 95, 104, 74, 48, 77, 104, 128, 101, 94, 104, 90, 100, 88, 93, 98, 100, 112, 84, 98, 97, 114, 96, 100, 109, 83, 90, 107, 96, 103, 91, 95, 105, 113, 80, 101, 89, 74, 90, 89, 110, 74, 93, 84, 83, 69, 77, 107, 93, 88, 108, 84, 121, 89, 104, 90, 86, 84, 108, 107, 96, 98, 105, 108, 94, 106, 102, 88, 102, 102, 97, 111, 100, 96, 98, 78, 81, 108, 89, 99, 89, 81, 92, 100, 89, 79, 91, 101, 104, 103, 86, 105, 93, 92, 98, 95, 93, 87, 93, 87, 128, 86, 95, 114, 93, 83, 83, 88, 78, 112, 92, 74, 77, 82, 104, 113, 100, 78, 83, 96, 115, 86, 92, 99, 73, 128, 85, 88, 96, 104, 95, 72, 75, 61, 117, 94, 100, 143, 97, 85, 86, 50, 74, 136, 89, 76, 40, 120, 84, 113, 115, 131, 100, 68, 95, 97, 101, 100, 76, 120, 81, 143, 106, 40, 120, 99, 82, 117, 151, 104, 76, 92, 95, 94, 168, 111, 82, 87, 110, 107, 124, 74, 83, 150, 97, 91, 100, 111, 96, 99, 76, 98, 97, 99, 96, None, 90, None, 101, 96, 88, 97, 108, 85, 104, 116, 103, 109, 74, 123, 108, 100, 101, 125, None, 90, 88, 109, 89, 104, 137, 106, 69, 103, 132, 77, 96, 93, 104, 87, 101, 130, 77, 104, 149, 92, 102, 125, 107, 77, 124, 97, 84, 127, 81, 102, 124, 129, 106, 82, 130, 94, 154, 94, 117, 108, 106, 98, 113, 97, 117, 103, 124, 107, 161, 80, 129, 76, 129, 102, None, 162, 105, 109, 118, 104, 99, 112, 131, 112, 76, 128, 100, 118, 119, 104, 100, 103, 114, 99, 102, 107, 78, 89, 95, 160, 85, 100, 95, 115, None, None, None, None, None, None]

In [ ]:
print([movie.get('Budget', 'N/A') for movie in movie_info_list])

['N/A', '$1.49 million', '$2.6 million', '$2.28 million', '$600,000', '$950,000', '$858,000', 'N/A', '$788,000', 'N/A', '$1.35 million', '$2.125 million', 'N/A', '$1.5 million', '$1.5 million', 'N/A', '$2.9 million', '$1,800,000', '$3 million', 'N/A', '$4 million', '$2 million', '$300,000', '$1.8 million', 'N/A', '$5 million', 'N/A', '$4 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$700,000', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$6 million', 'under $1 million or $1,250,000', 'N/A', '$2 million', 'N/A', 'N/A', '$2.5 million', 'N/A', 'N/A', '$4 million', '$3.6 million', 'N/A', 'N/A', 'N/A', 'N/A', '$3 million', 'N/A', '$3 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$3 million', 'N/A', 'N/A', 'N/A', 'N/A', '$4.4–6 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$4 million', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$4 million', 'N/A', 'N/A', 'N/A', '$6.3 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', 'N/A', '$8 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'AU$1 million', 'N/A', 'N/A', 'N/A', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', '$7.5 million', 'N/A', '$10 million', 'N/A', 'N/A', '$3.5 to 4 million', 'N/A', 'N/A', 'N/A', '$5.25 million', '$20 million', 'N/A', 'N/A', '$9 million', 'N/A', '$6-8 million', '$20 million', 'N/A', 'N/A', '$18 million', '$12 million', '$14 million', 'N/A', '', '$5 million', 'unknown', '$19 million (estimated)', '$11 million', '$28 million', '$25–44 million', 'N/A', 'N/A', '$14 million', '$9 million', 'N/A', 'A$8.7 million', '$31 million', '$18 million', '$5 million', '$40 million', '$20 million', 'N/A', '$14 million', '60 million Norwegian Kroner (around $8.7 million in 1989)', 'N/A', '$35-40 million', '$25 million', '$15 million', '$40 million', '$14 million', '$28 million', '$12 million', 'N/A', 'N/A', '$6.5 million', '$28 million', '$17 million', '$30 million', 'N/A', '$13 million', 'N/A', 'N/A', '$45 million', '$31 million', 'N/A', '$22 million', '$30 million', 'N/A', '$22 million', ['$32 million', '(estimated)'], 'N/A', '$55 million', '$24 million', '$15 million', '$12 million', 'N/A', '$30 million', 'N/A', '$31 million', 'N/A', '$38 million', '$100 million', '$15 million', 'N/A', '$75 million', 'N/A', '$32 million', '$85 million', '$55 million', '$3 million', '$16 million', '$80 million', '$30 million', '$24 million', '$90 million', '$15 million', '$30 million', '$120 million', '$90 million', '$65 million', '$5 million', 'N/A', '$130 million', '$90 million', '$10 million', '$90 million', '$80–$85 million', '$15 million –$30 million', '$127.5 million', '$65 million', '$30 million', '$85 million', '$100 million', '$23 million', '$90–120 million', '$26 million', '$25 million', '$115 million', '$33 million', '$20 million', '$22 million', '$80 million', '$35 million', '$15 million', '$65 million', '$140 million', '$20 million', '$46 million', '$13 million', '$20 million', '$17 million', '$94 million', '$140 million', '$26 million', '$46 million', '$90 million', 'N/A', '$10 million', '$28 million', '$15 million', '$110 million', 'N/A', '$110 million', 'N/A', '$45 million', '$92 million', '$100 million', 'N/A', '$20 million', '$56 million', '$25 million', '$50 million', '$35 million', '$35 million', '$25 million', '$150 million', '$180 million', '$30 million', '$1 million', '$40 million', '$50 million', '$80 million', '$120 million', '$225 million', '$30 million', '$18 million', '$12 million', '$20–25 million', 'N/A', '$300 million', '$150 million', '$25 million', 'N/A', '$22 million', '$85 million', '$130 million', '$7 million', '$25 million', '$225 million', '$180 million', '$20 million', 'N/A', '$11 million', '$150 million', '$80 million', 'N/A', '$50 million', '$30 million', '$47 million', '$175 million', 'N/A', '$150 million', 'N/A', '$8 million ( ₽ 350 million)', '$175-200 million', '$35 million', '$105 million', '$150 –$200 million', 'N/A', '$80 million', '$150  million', '$200 million', '$150 million', 'N/A', '$35 million', 'N/A', '$260 million', 'N/A', '$150 million', '(US$3.8 million)', 'N/A', '$150 million', 'N/A', '$5 million', '$8 million', ['$410.6 million (gross)', '$378.5 million (net)'], '$200 million', '$30 million', '$45 million', ['$306.6 million (gross)', '$263.7 million (net)'], '$5 million', 'N/A', '$185 million', '$25 million', '$39 million', '$165 million', '$200–215 million', 'N/A', '$200 million', '$225–250 million', '$50 million', '$150 million', '$35 million', '$51 million', '$5 million', '$25 million', '$180–263 million', '$50 million', '(US$3.2 million)', '$28 million', '$165 million', '$50 million', '$25 million', '$95–100 million', '$5–10 million', '$180–190 million', '$175 million', '', '$175 million', '$70–80 million', '$150 million', '$175–177 million', 'N/A', '$170 million', '$175–200 million', '$140 million', '$65 million', '$15 million', '$150–175 million', '70 crore', '$8 million', '$160–255 million', '$5–10 million', '$230–320 million', '$175 million', 'N/A', ['1.31\xa0billion'], '$175 million', '$100–130 million', '$200 million', '$75 million', '$120–133 million', '$175 million', '$130 million', '$170 million', 'N/A', '$183 million', '$200 million', '$250–260 million', '$185 million', '$60 million', 'N/A', '$150 million', '$40 million', '$42 million', '$175–200 million', 'N/A', 'N/A', 'N/A', '$125 million', '$12.5 million (stage production)', 'N/A', '$24 million', 'N/A', '$200 million', 'N/A', '$150 million+', 'N/A', 'N/A', 'N/A', 'N/A']

In [ ]:
import re

amounts = r"thousand|million|billion"
number = r"\d+(,\d{3})*\.*\d*"

word_re = rf"\${number}(-|\sto\s|–)?({number})?\s({amounts})"
value_re = rf"\${number}"

def word_to_value(word):
    value_dict = {"thousand": 1000, "million": 1000000, "billion": 1000000000}
    return value_dict[word]

def parse_word_syntax(string):
    value_string = re.search(number, string).group()
    value = float(value_string.replace(",", ""))
    word = re.search(amounts, string, flags=re.I).group().lower()
    word_value = word_to_value(word)
    return value*word_value

def parse_value_syntax(string):
    value_string = re.search(number, string).group()
    value = float(value_string.replace(",", ""))
    return value

'''
money_conversion("$12.2 million") --> 12200000 ## Word syntax
money_conversion("$790,000") --> 790000        ## Value syntax
'''
def money_conversion(money):
    if money == "N/A":
        return None

    if isinstance(money, list):
        money = money[0]
        
    word_syntax = re.search(word_re, money, flags=re.I)
    value_syntax = re.search(value_re, money)

    if word_syntax:
        return parse_word_syntax(word_syntax.group())

    elif value_syntax:
        return parse_value_syntax(value_syntax.group())

    else:
        return None

In [ ]:
for movie in movie_info_list:
    movie['Budget (float)'] = money_conversion(movie.get('Budget', "N/A"))
    movie['Box office (float)'] = money_conversion(movie.get('Box office', "N/A"))

$1.49 million
HERE
$418 million
HERE
$2.6 million
HERE
$164 million
HERE
$2.28 million
HERE
$76.4–$83.3 million
HERE
$600,000
$960,000 (worldwide rentals)
$950,000
$1.3 million (est. United States/Canada rentals, 1941)
HERE
$858,000
$267.4 million
HERE
$1,135,000 (worldwide rentals)
$788,000
$799,000
$3,355,000 (worldwide rentals)
$1.35 million
HERE
$3,275,000 (worldwide rentals)
$2.125 million
HERE
$65 million
HERE
$3,165,000 (worldwide rentals)
$1.5 million
HERE
$2,560,000 (worldwide rentals)
$1.5 million
HERE
$3.7 million (U.S. rental) $575,000 (foreign rental)
HERE
$1,625,000 (worldwide rentals)
$2.9 million
HERE
$263.6 million
HERE
$1,800,000
$4,100,000 (worldwide rentals)
$3 million
HERE
$5.6 million (US, 1951)
HERE
$2.1 million (US rentals)
HERE
$4 million
HERE
$87.4 million
HERE
$2 million
HERE
$1 million (US)
HERE
$300,000
$2.6 million (US)
HERE
$1.8 million
HERE
$1.75 million (US and Canadian rentals)
HERE
$5 million
HERE
$28.2 million
HERE
$2,150,000 (US)
$4 million
HERE
$187 million
HERE
$2.1 million (US)
HERE
$1.6 million (US)
HERE
$1.7 million (US)
HERE
$2.75 million (US)
HERE
$700,000
$1.75 million (US rentals)
HERE
$6,250,000 (US/Canada rentals)
$1.8 million (est. US/ Canada rentals)
HERE
$2.5 million (est. US/ Canada rentals)
HERE
$6 million
HERE
$51.6 million (United States/Canada)
HERE
under $1 million or $1,250,000
HERE
$12.3 million (US and Canada rentals)
HERE
Original release
$2 million
HERE
$1,700,000 (US/Canada rentals)
$3,100,000 (US/Canada rentals)
$2.5 million
HERE
$3.75 million (US and Canadian rentals)
HERE
$2.3 million (US and Canadian rentals)
HERE
$4 million
HERE
$40 million
HERE
$3.6 million
HERE
$303 million
HERE
$25.4 million
HERE
$25.1 million
HERE
$3 million
HERE
$4.6 million (US/Canada rentals)
HERE
$3.5 million
HERE
$3 million
HERE
$5 million (rentals)
HERE
$21,745,500
$22.1 million
HERE
$2,550,000 (US/ Canada)
$3,000,000 (US/ Canada)
$4,350,000 (US/ Canada rentals)
$4.2 million (US/Canada) (rentals)
HERE
$3 million
HERE
$22.2 million
HERE
est. $1,600,000 (US/ Canada)
$4,000,000 (US/ Canada)
$2,250,000 (US/ Canada)
est. $3,500,000 (US/ Canada)
$4.4–6 million
HERE
$103.1 million
HERE
$1,275,000
$3,500,000 (US/ Canada rentals)
$4,000,000 (US/Canada rentals)
$28,068,222
$6.2 million (est. US/ Canada rentals)
HERE
$22,565,634
$16,207,116
$3,000,000 (US/ Canada)
$1,900,000 (US/ Canada)
$4,000,000 (US/ Canada)
$4 million
HERE
$378 million
HERE
$5 million
HERE
$5 million (US/ Canada rentals)
HERE
$21,540,050
$2,250,000 (US/ Canada)
$4,150,000 (US/ Canada rentals)
$3.3 million  (US/ Canada rentals)
HERE
$5 million
HERE
$51,264,000
$1.3 million (US/ Canada rentals)
HERE
$5.5 million (US/ Canada rentals)
HERE
$18,607,492
$4 million (rentals) (US/Canada)
HERE
$4 million
HERE
$191 million
HERE
$5.1 million (North America) (rentals)
HERE
$6.3 million
HERE
$17.9 million
HERE
$4,610,000 (US/Canada) (rentals)
$6,100,000 (US/ Canada rentals)
$22,583,370
$2 million
HERE
$5 million
HERE
$32 million
HERE
$7 million (US/Canada rentals)
HERE
$38,229,000 (US/Canada gross)
$4 million (rentals) (US/Canada)
HERE
$8 million
HERE
$10 million (US/Canada rentals)
HERE
$6.6 million (US/Canada rentals)
HERE
$20,000,000
$36,853,000
$5.5 million (North American rentals)
HERE
AU$1 million
HERE
$21,873,000
$10.5 million (US and Canada rentals)
HERE
$5 million
HERE
$36 million
HERE
$7.5 million
HERE
$169 million
HERE
$29 million
HERE
$10 million
HERE
$36 –39.6 million
$3.5 to 4 million
HERE
$20,931,111
$5.25 million
HERE
$20 million
HERE
$35.8 million
HERE
$2.9 million
HERE
$9 million
HERE
$5 million
HERE
$18 million
HERE
$6-8 million
HERE
$11 million
HERE
$20 million
HERE
$60 million
HERE
$16 million (USA)
HERE
$18 million
HERE
$14.1 million
HERE
$12 million
HERE
$63.5 million
HERE
$14 million
HERE
$8 million
HERE


$5 million
HERE
$7.4 million
HERE
unknown
$4,304,286 (US)
$19 million (estimated)
HERE
$8.4 million
HERE
$11 million
HERE
$27.6 million
HERE
$28 million
HERE
$11.1 million (USA)
HERE
$25–44 million
HERE
$21.3 million (domestic)
HERE
$9.7 million (U.S. and Canada only)
HERE
$13,677,222
$14 million
HERE
$38.7 million
HERE
$9 million
HERE
$18,564,613
$22.3 million
HERE
A$8.7 million
HERE
$13,687,027
$31 million
HERE
>$121 million
HERE
$18 million
HERE
$222.7 million
HERE
$5 million
HERE
$8,153,677 (United States)
$40 million
HERE

$20 million
HERE
$18.1 million
HERE
$47.4 million
HERE
$14 million
HERE
$34.8 million
HERE
60 million Norwegian Kroner (around $8.7 million in 1989)
HERE
$15.1 million
HERE
$7.3 million
HERE
$35-40 million
HERE
$46.7 million (USA)
HERE
$25 million
HERE
$440.1 million
HERE
$15 million
HERE
$2.8 million
HERE
$40 million
HERE
$58.7 million
HERE
$14 million
HERE
$50.8 million
HERE
$28 million
HERE
$504.1 million
HERE
$12 million
HERE
$27.2 million
HERE
$41.8 million
HERE
$12.9 million
HERE
$6.5 million
HERE
$24.1 million
HERE
$28 million
HERE
$39.5 million
HERE
$17 million
HERE
$154.9 million
HERE
$30 million
HERE
$53.9 million
HERE
$21 million
HERE
$13 million
HERE
$30.6 million
HERE
$45.6 million
HERE
$8,878,839 (US)
$45 million
HERE
$968.5 million
HERE
$31 million
HERE
$50.2 million
HERE
$3,337,685
$22 million
HERE
$189.8 million
HERE
$30 million
HERE
$43.2 million
HERE
$17.6 million
HERE
$22 million
HERE
$40,070,995
$32 million
HERE
$11 million
HERE
$35.3 million
HERE
$55 million
HERE
$346.1 million
HERE
$24 million
HERE
$24,670,346
$15 million
HERE
$13.4 million (domestic)
HERE
$12 million
HERE
$17.7 million
HERE
$30 million
HERE
$373.6 million
HERE
$23.9 million
HERE
$31 million
HERE
$34.3 million (North America)
HERE
$32.7 million
HERE
$38 million
HERE
$28.9 million (U.S.)
HERE
$100 million
HERE
$325.3 million
HERE
$15 million
HERE
$26,491,793
$22.9 million
HERE
$75 million
HERE
$320.7 million
HERE
$18.3 million
HERE
$32 million
HERE
$59.9 million
HERE
$85 million
HERE
$252.7 million
HERE
$55 million
HERE
$174.4 million
HERE
$3 million
HERE
$27.8 million
HERE
$16 million
HERE
$15.4 million
HERE
$80 million
HERE
$178 million
HERE
$30 million
HERE
$28.9 million
HERE
$24 million
HERE
$4.4 million
HERE
$90 million
HERE
$304.3 million
HERE
$15 million
HERE
$92.1 million
HERE
$30 million
HERE
$12.2 million
HERE
$120 million
HERE
$363.3 million
HERE
$90 million
HERE
$50.6 million (US)
HERE
$65 million
HERE
$36.8 million
HERE
$5 million
HERE
$19.4 million
HERE
$130 million
HERE
$448.2 million
HERE
$90 million
HERE
$134.4 million
HERE
$10 million
HERE
$6.2 million
HERE
$90 million
HERE
$497.4 million
HERE
$80–$85 million
HERE
$90.9 million
HERE
$15 million –$30 million
HERE
$96.2 million
HERE
$127.5 million
HERE
$349.8 million
HERE
$65 million
HERE
$110.3 million
HERE
$30 million
HERE
$136.7 million
HERE
$85 million
HERE
$183.6 million
HERE
$100 million
HERE
$169.3 million
HERE
$23 million
HERE
$44.5 million
HERE
$90–120 million
HERE
$186.1 million
HERE
$26 million
HERE
$165.3 million
HERE
$25 million
HERE
$18.6 million
HERE
$115 million
HERE
$577.4 million
HERE
$33 million
HERE
$115 million
HERE
$20 million
HERE
$115.1 million
HERE
$22 million
HERE
$80.7 million
HERE
$80 million
HERE
$273.1 million
HERE
$35 million
HERE
$18 million
HERE
$15 million
HERE
$19.3 million
HERE
$65 million
HERE
$172.9 million
HERE
$140 million
HERE
$109.6 million
HERE
$20 million
HERE
$135.7 million
HERE
$46 million
HERE
$62.9 million
HERE
$13 million
HERE
$28.7 million
HERE
$20 million
HERE
$71.4 million
HERE
$17 million
HERE
$55.5 million
HERE
$94 million
HERE
$940.3 million
HERE
$140 million
HERE
$654.3 million
HERE
$26 million
HERE
$160.8 million
HERE
$46 million
HERE
$250.4 million
HERE
$90 million
HERE
$182.3 million
HERE
$9,638,389
$10 million
HERE
$6.5 million
HERE
$28 million
HERE
$64.5 million
HERE
$15 million
HERE
$33.1 million
HERE
$110 million
HERE
$145.5 million
HERE
$1,108,356
$110 million
HERE
$72.2 million
HERE
$314,402
$45 million
HERE
$134.7 million
HERE
$92 million
HERE
$633 million
HERE
$100 million
HERE
$347.5 million
HERE
$9 million
HERE
$20 million
HERE
$52.9 million
HERE
$56 million
HERE
$198.6 million
HERE
$25 million
HERE
$27.6 million
HERE
$50 million
HERE
$144.1 million
HERE
$35 million
HERE
$86.4 million
HERE
$35 million
HERE
$61.7 million
HERE
$25 million
HERE
$15.4 million
HERE
$150 million
HERE
$314.4 million
HERE
$180 million
HERE
$745 million
HERE
$30 million
HERE
$42.9 million
HERE
$1 million
HERE
$11 million
HERE
$40 million
HERE
$120.5 million
HERE
$50 million
HERE
$87.1 million
HERE
$80 million
HERE
$102.3 million
HERE
$120 million
HERE
$462 million
HERE
$225 million
HERE
$1.066 billion
HERE
$30 million
HERE
$58.5 million
HERE
$18 million
HERE
$89.1 million
HERE
$12 million
HERE
$110.8 million
HERE
$20–25 million
HERE
$138 million
HERE
$169.3 million
HERE
$300 million
HERE
$961 million
HERE
$150 million
HERE
$620.7 million
HERE
$25 million
HERE
$65.3 million
HERE
$22 million
HERE
$146.6 million
HERE
$85 million
HERE
$340.5 million
HERE
$130 million
HERE
$459.2 million
HERE
$7 million
HERE
$70.6 million
HERE
$25 million
HERE
$51.5 million
HERE
$225 million
HERE
$419.7 million
HERE
$180 million
HERE
$533.3 million
HERE
$20 million
HERE
$149.3 million
HERE
$275,776
$11 million
HERE
$252.9 million
HERE
$150 million
HERE
$310 million
HERE
$80 million
HERE
$212.9 million
HERE
$23.1 million
HERE
$50 million
HERE
$106.4 million
HERE
$30 million
HERE
$169.2  million
$47 million
HERE
$109 million
HERE
$175 million
HERE
$735.1 million
HERE
$150 million
HERE
$292.8 million
HERE
$8 million ( ₽ 350 million)
HERE
$11.3 million
HERE
$175-200 million
HERE
$325 million
HERE
$35 million
HERE
$96.8 million
HERE
$105 million
HERE
$269 million
HERE
$150 –$200 million
HERE
$1.025 billion
HERE
$84,918
$80 million
HERE
$82.7 million
HERE
$150  million
$336.4 million
HERE
$200 million
HERE
$1.067 billion
HERE
$150 million
HERE
$215.3 million
HERE
$35 million
HERE
$60.3 million
HERE
$260 million
HERE
$592.4 million
HERE
$55,513
$150 million
HERE
$410 million
HERE
(US$3.8 million)
HERE
(US$5.4 million)
HERE
$150 million
HERE
$39.2 million
HERE
$5 million
HERE
$30.9 million
HERE
$8 million
HERE
$10.1 million
HERE
$410.6 million (gross)
HERE
$1.046 billion
HERE
$200 million
HERE
$562.1 million
HERE
$30 million
HERE
$50.1 million
HERE
$45 million
HERE
$165.2 million
HERE
$306.6 million (gross)
HERE
$284.1 million
HERE
$5 million
HERE
$34.8 million
HERE
$185 million
HERE
$540.4 million
HERE
$25 million
HERE
$56 million
HERE
$39 million
HERE
$81.5 million
HERE
$165 million
HERE
$471.2 million
HERE
$200–215 million
HERE
$493.3 million
HERE
$200 million
HERE
$743.6 million
HERE
$225–250 million
HERE
$260.5 million
HERE
$50 million
HERE
$239.3 million
HERE
$150 million
HERE
$1.280 billion
HERE
$35 million
HERE
$117.9 million
HERE
$51 million
HERE
$80.4 million
HERE
$5 million
HERE
$21.3 million
HERE
$25 million
HERE
$39.2 million
HERE
$180–263 million
HERE
$758.5 million
HERE
$50 million
HERE
$147 million
HERE
(US$3.2 million)
HERE
est. (US$11 million)
HERE
$28 million
HERE
$100.7 million
HERE
$165 million
HERE
$657.8 million
HERE
$50 million
HERE
$213.1 million
HERE
$25 million
HERE
$45.7 million
HERE
$95–100 million
HERE
$542.4 million
HERE
$5–10 million
HERE
$17.1 million
HERE
$180–190 million
HERE
$209 million
HERE
$175 million
HERE
$858 million
HERE

est.
$175 million
HERE
$332.2 million
HERE
$70–80 million
HERE
$52.1 million
HERE
$150 million
HERE
$1.024 billion
HERE
$175–177 million
HERE
$966.6 million
HERE
$8.7 million
HERE
$170 million
HERE
$300 million
HERE
$175–200 million
HERE
$1.029 billion
HERE
$140 million
HERE
$195.2 million
HERE
$65 million
HERE
$143.7 million
HERE
$15 million
HERE
$10.4 million
HERE
$150–175 million
HERE
$690.8 million
HERE
70 crore
est.
$8 million
HERE
$127.4 million
HERE
$160–255 million
HERE
$1.264 billion
HERE
$5–10 million
HERE
$25.1 million
HERE
$230–320 million
HERE
$794.9 million
HERE
$175 million
HERE
$383.9 million

HERE
1.31 billion
833.5 million
$175 million
HERE
$807.1 million
HERE
$100–130 million
HERE
$133.4 million
HERE
$200 million
HERE
$1.243 billion
HERE
$75 million
HERE
$197.7 million
HERE
$120–133 million
HERE
$174 million
HERE
$175 million
HERE
$529.3 million
HERE
$130 million
HERE
$349.5 million
HERE
$170 million
HERE
$353.3 million
HERE
$7.7
 million
$183 million
HERE

$200 million
HERE
$1.073 billion
HERE
$250–260 million
HERE
$1.657 billion
HERE
$185 million
HERE
$491.7 million
HERE
$60 million
HERE
$150 million
HERE
$1.450 billion
HERE
$40 million
HERE
$42 million
HERE
$175–200 million
HERE
$136.4 million
HERE
$125 million
HERE
$12.5 million (stage production)
HERE
$24 million
HERE
$200 million
HERE
$57 million
HERE
$150 million+
HERE

In [ ]:
money_conversion(str(movie_info_list[-40]["Budget"]))

160000000.0

In [ ]:
# Convert Dates into datetimes
print([movie.get('Release date', 'N/A') for movie in movie_info_list])

[['May 19, 1937'], ['December 21, 1937 ( Carthay Circle Theatre , Los Angeles , CA )', 'February 4, 1938 (United States)'], ['February 7, 1940 ( Center Theatre )', 'February 23, 1940 (United States)'], ['November 13, 1940'], ['June 20, 1941'], ['October 23, 1941 (New York City)', 'October 31, 1941 (U.S.)'], ['August 9, 1942 (World Premiere-London)', 'August 13, 1942 (Premiere-New York City)', 'August 21, 1942 (U.S.)'], ['August 24, 1942 (World Premiere-Rio de Janeiro)', 'February 6, 1943 (U.S. Premiere-Boston)', 'February 19, 1943 (U.S.)'], ['July 17, 1943'], ['December 21, 1944 (Mexico City)', 'February 3, 1945 (US)'], ['April 20, 1946 (Premiere-New York City)', 'August 15, 1946 (U.S.)'], ['November 12, 1946 (Premiere: Atlanta, Georgia)', 'November 20, 1946'], ['September 27, 1947'], 'May 27, 1948', ['November 29, 1948 (Chicago, Illinois)', 'January 19, 1949 (Indianapolis, Indiana)'], ['October 5, 1949'], ['February 15, 1950 (Boston)', 'March 4, 1950 (United States)'], ['June 22, 1950 (World Premiere- London )', 'July 29, 1950 ( US )'], ['July 26, 1951 (London, premiere)', 'July 28, 1951 (New York City, premiere)'], ['March 13, 1952 (Premiere- London )', 'June 26, 1952 ( US )'], ['February 5, 1953 (United States)'], ['August 8, 1953 ( US )'], 'November 10, 1953', ['26 October 1953 (Premiere- London )', '4 February 1954 ( US )'], ['August 17, 1954'], ['December 23, 1954'], 'May 25, 1955', ['June 22, 1955'], ['September 14, 1955'], 'December 22, 1955', 'June 8, 1956', 'July 18, 1956', ['November 6, 1956'], ['December 20, 1956'], 'June 19, 1957', 'August 28, 1957', ['December 25, 1957'], ['July 9, 1958'], ['August 12, 1958'], ['December 25, 1958'], ['January 29, 1959'], ['March 19, 1959'], ['June 24, 1959 (Dublin)', 'June 26, 1959 (Los Angeles)'], ['November 10, 1959'], 'January 21, 1960 ( Sarasota, FL )', ['February 24, 1960'], 'May 19, 1960', ['August 10, 1960'], ['November 1, 1960'], ['December 21, 1960'], ['January 25, 1961'], 'March 16, 1961', ['June 21, 1961'], ['July 12, 1961'], ['July 17, 1961'], ['December 14, 1961'], 'April 5, 1962', ['May 17, 1962'], ['June 6, 1962'], 'September 26, 1962', ['November 7, 1962 (Los Angeles)'], 'December 19, 1962', ['January 16, 1963'], ['March 29, 1963 (U.S.)'], 'June 1, 1963', ['July 7, 1963'], 'November 20, 1963', ['December 25, 1963'], 'March 12, 1964', ['February 11, 1964 (Los Angeles)'], ['11\xa0December\xa01963', '(', 'New York City, New York', ')', '4\xa0June\xa01964', '(United States)'], ['July 2, 1964'], ['August 27, 1964'], ['December 18, 1964'], ['January 28, 1965', '(', 'Atlanta, Georgia', 'Premiere)'], ['August 18, 1965 (Los Angeles)'], ['December 2, 1965'], ['February\xa04,\xa01966', '(premiere)', 'February\xa016,\xa01966'], ['June 25, 1966 (San Diego)', 'June 29, 1966 (U.S.)'], 'October 1, 1966', ['December 1, 1966'], ['February 8, 1967 (San Francisco)'], ['March 8, 1967 (United States)'], ['July 12, 1967'], ['October 18, 1967'], ['October 18, 1967'], ['June 23, 1967', 'November 30, 1967'], ['February 8, 1968'], ['March 21, 1968 ( Radio City Music Hall )'], ['June 26, 1968'], ['December 20, 1968'], ['December 24, 1968 (limited)', 'March 13, 1969 (wide)'], ['March 21, 1969'], 'June 11, 1969', ['December 31, 1969'], ['February 11, 1970'], 'July 1, 1970', ['December 15, 1970 (original release)', 'January 20, 1971'], ['December 11, 1970 (premiere)', 'December 24, 1970 (United States)'], 'March 17, 1971', 'June 22, 1971', ['June 30, 1971'], ['October 7, 1971 (United Kingdom)', 'December 13, 1971 (United States)'], ['March 22, 1972 (US)'], 'July 12, 1972', ['July 5, 1972'], ['October 18, 1972'], ['December 22, 1972'], 'February 1, 1973', ['March 23, 1973'], ['June 20, 1973'], ['November 8, 1973'], ['December 14, 1973'], ['June 6, 1974'], ['July 31, 1974'], ['August 1, 1974'], 'December 20, 1974 (with Winnie the Pooh and Tigger Too )', ['February 6, 1975'], ['March 21, 1975 (U.S.)'], ['July 24, 1975'], ['July 9, 1975'], ['October 8, 1975'], 'December 25, 1975', ['February 11, 1976 (Los Angeles)'], ['July 1, 1976'], ['July 7, 1976'], ['December 17, 1976'], ['December 17, 1976'], ['May 26, 1976', '(UK)', 'March 11, 1977', '(US)'], ['March 11, 1977'], ['June 22, 1977'], ['June 22, 1977'], ['June 24, 1977'], ['November 3, 1977'], 'December 16, 1977', ['March 10, 1978'], ['June 30, 1978 (New York)'], 'July 5, 1978', 'February 9, 1979', ['June 27, 1979'], ['July 19, 1979 (London)', 'August 3, 1979 (Los Angeles)'], ['December 18, 1979 (United Kingdom)', 'December 21, 1979 (United States)'], 'December 21, 1979', ['February 8, 1980'], ['April 17, 1980 (New York City)', 'October 9, 1981 (U.S.)'], ['June 27, 1980'], ['July 9, 1980 (Los Angeles)'], ['December 6, 1980'], 'February 11, 1981 (Los Angeles)', 'March 20, 1981', ['June 26, 1981'], ['July 10, 1981'], ['August 7, 1981'], 'February 5, 1982', ['July 9, 1982'], 'July 30, 1982', ['March 11, 1983'], ['April 29, 1983 (United States)'], ['October 7, 1983 (limited)', 'January 27, 1984'], ['June 21, 1985 (United States)'], ['July 26, 1985'], ['September 27, 1985'], ['November 22, 1985'], ['July 2, 1986'], ['August 1, 1986'], ['June 5, 1987'], ['24 March 1988 (Australia)', '15 April 1988 (United States)'], ['November 18, 1988'], ['June 23, 1989'], 'August 18, 1989', ['November 17, 1989'], ['August 3, 1990'], ['November 16, 1990'], ['January 18, 1991'], ['3 October 1990'], ['May 24, 1991'], ['June 21, 1991'], ['September 29, 1991 ( NYFF )', 'November 22, 1991 (United States)'], ['April 10, 1992'], ['July 17, 1992'], ['October 2, 1992'], ['November 25, 1992'], ['December 11, 1992'], 'February 3, 1993', ['March 12, 1993'], ['April 2, 1993'], ['July 16, 1993'], ['October 1, 1993'], ['November 12, 1993'], ['January 14, 1994'], ['February 11, 1994'], ['March 25, 1994'], ['April 15, 1994'], ['June 15, 1994', 'June 24, 1994'], ['July 15, 1994'], ['October 28, 1994'], ['November 11, 1994'], ['December 25, 1994'], ['February 17, 1995'], ['March 3, 1995'], ['March 24, 1995'], ['April 7, 1995'], ['June 23, 1995'], ['July 28, 1995'], ['August 11, 1995'], ['September 29, 1995'], ['January 22, 1995 ( Sundance Film Festival )', 'October 20, 1995 (U.S.)'], ['November 19, 1995 ( El Capitan Theatre )', 'November 22, 1995 (United States)'], ['December 22, 1995'], ['February 16, 1996'], ['March 8, 1996'], ['April 12, 1996 (United States)', 'August 2, 1996 (United Kingdom)'], ['June 21, 1996'], ['August 30, 1996'], ['October 4, 1996'], ['November 27, 1996'], ['February 14, 1997'], ['March 7, 1997 (US)', 'August 5, 1998 (France)'], ['June 13, 1997 (limited release)', 'June 27, 1997 (wide release)'], ['July 16, 1997'], 'August 1, 1997', ['October 10, 1997'], ['November 16, 1997 ( Pennsylvania )', 'November 26, 1997 (United States)'], ['December 25, 1997'], ['March 27, 1998 (United States)'], ['June 19, 1998'], ['July 29, 1998 (United States)'], ['November 13, 1998'], ['November 20, 1998'], ['December 25, 1998'], ['February 12, 1999'], ['March 26, 1999'], ['February 5, 1999'], ['June 12, 1999 ( El Capitan Theatre )', 'June 16, 1999 (United States )'], ['July 23, 1999'], ['May 1999 ( Cannes )', 'October 15, 1999 (United States)'], ['November 13, 1999 ( El Capitan Theatre )', 'November 24, 1999 (United States)'], ['December 17, 1999 ( Carnegie Hall )', 'January 1, 2000 ( IMAX )', 'June 16, 2000 (United States)'], ['February 11, 2000 (United States)'], ['May 19, 2000 (United States)'], ['July 7, 2000'], ['September 29, 2000'], ['November 22, 2000'], ['December 15, 2000'], ['February 10, 2001 (premiere)', 'February 16, 2001 (United States)'], ['June 3, 2001 (Premiere)', 'June 15, 2001 (United States)'], ['August 3, 2001'], ['October 5, 2001'], ['October 28, 2001 ( El Capitan Theatre )', 'November 2, 2001 (United States)'], ['January 18, 2002'], ['February 10, 2002 ( New York City )', 'February 15, 2002 (United States)'], ['March 29, 2002'], ['June 21, 2002'], ['July 21, 2002', 'July 26, 2002'], ['October 11, 2002 (U.S.)'], ['November 1, 2002 (United States)'], ['November 27, 2002'], ['February 14, 2003'], ['March 16, 2003 (premiere)', 'March 21, 2003 (United States)', 'July 2, 2003 ( Manila , Philippines )'], ['March 31, 2003 (premiere)', 'April 11, 2003 (limited)'], ['April 18, 2003 (United States)'], ['May 2, 2003 (United States)'], ['May 30, 2003'], ['June 28, 2003 ( Disneyland Resort )', 'July 9, 2003 (United States)'], ['August 4, 2003 ( Los Angeles )', 'August 6, 2003 (United States)'], ['November 1, 2003'], ['November 26, 2003'], ['December 25, 2003'], ['January 16, 2004'], ['February 6, 2004'], ['February 20, 2004 (United States)'], ['April 2, 2004'], ['April 22, 2004'], ['June 13, 2004 (Los Angeles, California)', 'June 16, 2004 (United States)'], ['July 2, 2004'], ['August 11, 2004'], ['October 27, 2004 ( BFI London Film Festival )', 'November 5, 2004 (United States)'], ['November 19, 2004'], ['January 28, 2005'], ['February 11, 2005'], ['March 4, 2005'], ['March 18, 2005'], ['June 22, 2005'], ['July 29, 2005'], ['March 25, 2005 (UK)', 'August 19, 2005 (US)'], ['September 30, 2005'], ['October 30, 2005 ( El Capitan Theatre )', 'November 4, 2005 (United States)'], ['December 7, 2005 ( Royal Film Performance )', 'December 8, 2005 (United Kingdom)', 'December 9, 2005 (United States)'], 'January 13, 2006', ['January 27, 2006'], ['February 17, 2006 (United States)'], ['March 10, 2006'], ['April 14, 2006'], ["May 26, 2006 ( Lowe's Motor Speedway )", 'June 9, 2006 (United States)'], ['June 24, 2006 ( Disneyland Resort )', 'July 7, 2006 (United States)'], ['August 25, 2006'], ['October 29, 1993'], ['November 3, 2006'], ['February 16, 2007'], ['March 23, 2007 (US)', 'March 30, 2007 (UK)'], ['May 19, 2007 ( Disneyland Resort )', 'May 25, 2007 (United States)'], ['June 22, 2007 ( Kodak Theatre )', 'June 29, 2007 (United States)'], ['August 3, 2007'], ['August 28, 2007'], ['September 23, 2007 ( Hollywood )', 'September 28, 2007 (United States)'], ['October 20, 2007 ( London )', 'November 21, 2007 (United States)'], ['December 21, 2007'], 'February 1, 2008', ['March 7, 2008'], ['May 7, 2008 ( New York City )', 'May 16, 2008 (United States)', 'June 26, 2008 (United Kingdom)'], ['June 23, 2008 ( Los Angeles )', 'June 27, 2008 (United States)'], ['September 26, 2008 (United States)'], 'October 17, 2008', ['October 17, 2008 (London)', 'October 24, 2008 (United States)'], ['November 21, 2008'], ['December 25, 2008'], ['February 27, 2009'], ['March 11, 2009 (Egypt)', 'March 13, 2009 (United States)'], ['April 10, 2009'], ['October 10, 2007 (France)', 'November 16, 2007 (United Kingdom)', 'January 12, 2008 (Germany)', 'April 22, 2009 (United States)'], ['May 29, 2009'], 'N/A', ['July 24, 2009'], ['2008'], ['2009'], ['November 3, 2009 ( London )', 'November 6, 2009 (United States)'], ['November 25, 2009'], ['November 25, 2009 (Los Angeles premiere)', 'December 11, 2009 (United States)'], ['February 25, 2010 ( Odeon Leicester Square )', 'March 5, 2010 (United States)'], ['September 6, 2009 ( Telluride Film Festival )', 'March 26, 2010'], ['October 17, 2009 ( Tokyo International Film Festival )', 'January 24, 2010 (France)'], ['May 9, 2010 (London premiere)', 'May 28, 2010 (United States)'], ['June 12, 2010 ( Taormina Film Fest )', 'June 18, 2010 (United States)'], ['July 8, 2010 (Fantasia Film Festival)', 'July 14, 2010'], ['26 October 2008 ( France )', '29 September 2009 ( United Kingdom )'], ['September 30, 2010 ( Hollywood )', 'October 8, 2010 (United States)'], ['8 October 2010'], ['November 14, 2010 ( El Capitan Theatre )', 'November 24, 2010 (United States)'], ['April 24, 2009 (San Francisco International Film Festival)', 'May 22, 2009 (United States)'], ['November 30, 2010 (Tokyo)', 'December 17, 2010 (United States)'], ['14 January 2011 (India)'], ['17 February 2011'], ['March 11, 2011'], ['22 April 2011'], ['April 22, 2011 (United States)', 'February 1, 2012 (France)', 'April 27, 2012 (United Kingdom)'], ['April 29, 2011'], ['May 7, 2011 ( Disneyland Resort )', 'May 20, 2011 (United States)'], ['June 18, 2011 (Hollywood)', 'June 24, 2011 (United States)'], ['April 6, 2011 (Belgium)', 'July 15, 2011 (United States)'], ['November 4, 2011 (Savannah Film Festival)', 'November 23, 2011 (United States)'], ['February 22, 2012 ( Los Angeles )', 'March 9, 2012 (United States)'], ['April 20, 2012 (United States)', 'February 20, 2013 (France)', 'May 3, 2013 (United Kingdom)'], ['25 May 2012'], ['June 10, 2012 ( SIFF )', 'June 22, 2012 (United States)'], ['August 15, 2012'], ['September 20, 2012 (Fantastic Fest)', 'October 5, 2012 (United States)'], ['October 29, 2012 ( El Capitan Theatre )', 'November 2, 2012 (United States)'], ['February 14, 2013 ( El Capitan Theatre )', 'March 8, 2013 (United States)'], ['16 March 2011 (France)', '16 April 2013 (United States)'], ['June 5, 2013 ( BFI Southbank )', 'June 21, 2013 (United States)'], ['June 22, 2013 ( Hyperion Theatre )', 'July 3, 2013 (United States)'], ['August 2, 2013 ( EAA AirVenture Oshkosh )', 'August 9, 2013'], ['November 19, 2013 ( El Capitan Theatre )', 'November 22, 2013 (United States)'], ['October 20, 2013 ( BFI London Film Festival )', 'November 29, 2013 (United Kingdom)', 'December 13, 2013 (United States)', 'January 9, 2014 (Australia)'], ['March 11, 2014 ( El Capitan Theatre )', 'March 21, 2014 (United States)'], ['April 18, 2014 (United States)'], ['May 6, 2014 ( El Capitan Theatre )', 'May 16, 2014 (United States)'], ['May 28, 2014 ( El Capitan Theatre )', 'May 30, 2014 (United States)'], ['July 15, 2014 ( El Capitan Theatre )', 'July 18, 2014 (United States)'], ['19 September 2014'], ['October 6, 2014 ( El Capitan Theatre )', 'October 10, 2014 (United States)'], ['October 23, 2014 ( Tokyo International Film Festival )', 'November 7, 2014 (United States)'], ['December 8, 2014 ( Ziegfeld Theatre )', 'December 25, 2014 (United States)'], ['February 9, 2015 ( Hollywood )', 'February 20, 2015 (United States)'], ['February 13, 2015 ( Berlin )', 'March 13, 2015 (United States)', 'March 27, 2015 (United Kingdom)'], ['April 17, 2015 (United States)'], ['May 9, 2015 ( Disneyland )', 'May 22, 2015 (United States)'], ['May 18, 2015 ( Cannes )', 'June 19, 2015 (United States)'], ['19 June 2015'], ['November 10, 2015 ( Paris )', 'November 25, 2015 (United States)'], ['January 25, 2016 ( TCL Chinese Theatre )', 'January 29, 2016 (United States)'], ['February 13, 2016 (Belgium)', 'March 4, 2016 (United States)'], ['April 4, 2016 ( El Capitan Theatre )', 'April 15, 2016 (United States)'], ['April 23, 2016 (Amsterdam)', 'May 6, 2016 (Spain)', 'May 12, 2016 (Italy)'], ['May 10, 2016 ( London )', 'May 27, 2016 (United States)'], ['June 8, 2016 ( El Capitan Theatre )', 'June 17, 2016 (United States)'], ['May 14, 2016 ( Cannes )', 'July 1, 2016 (United States)'], ['August 8, 2016 ( El Capitan Theatre )', 'August 12, 2016 (United States)'], ['September 10, 2016 ( TIFF )', 'September 23, 2016 (United States)'], ['November 14, 2016 ( AFI Fest )', 'November 23, 2016 (United States)'], ['21 December 2016 (United States)', '23 December 2016 (India)'], ['26 January 2005'], ['February 23, 2017 ( Spencer House )', 'March 17, 2017 (United States)'], ['August 12, 2016 (China)', 'April 21, 2017 (United States)', 'August 23, 2017 (France)'], ['May 11, 2017 ( Shanghai )', 'May 26, 2017 (United States)'], ['May 23, 2017 ( Kannapolis )', 'June 16, 2017 (United States)'], ['June 30, 2017 (United States)'], ['14 July 2017'], ['October 20, 2017 ( Morelia )', 'November 22, 2017 (United States)'], ['February 26, 2018 ( El Capitan Theatre )', 'March 9, 2018 (United States)'], ['June 5, 2018 ( Los Angeles )', 'June 15, 2018 (United States)'], ['July 30, 2018 ( Burbank )', 'August 3, 2018 (United States)'], ['October 29, 2018 ( Dolby Theatre )', 'November 2, 2018 (United States)'], ['November 5, 2018 ( El Capitan Theatre )', 'November 21, 2018 (United States)'], ['November 29, 2018 ( Dolby Theatre )', 'December 19, 2018 (United States)'], ['March 11, 2019 ( Los Angeles )', 'March 29, 2019 (United States)'], ['April 17, 2019 (United States)'], ['May 8, 2019 ( Grand Rex )', 'May 24, 2019 (United States)'], ['June 11, 2019 ( El Capitan Theatre )', 'June 21, 2019 (United States)'], ['July 9, 2019 ( Hollywood )', 'July 19, 2019 (United States)'], ['October 18, 2019'], ['November 12, 2019 (United States)'], ['November 12, 2019 (United States)'], ['November 7, 2019 ( Dolby Theatre )', 'November 22, 2019 (United States)'], ['December 20, 2019 (United States)'], ['January 25, 2020 ( Sundance )', 'February 7, 2020 ( Disney+ )'], ['February 21, 2020 ( Berlinale )', 'March 6, 2020 (United States)'], ['March 13, 2020 (United States)'], ['March 28, 2018 (France)', 'April 3, 2020 ( Disney+ )'], ['April 3, 2020'], ['June 12, 2020'], ['July 3, 2020'], ['July 31, 2020'], ['August 14, 2020'], ['August 21, 2020 (United States)'], ['March 9, 2020 ( Hollywood )', 'September 4, 2020 (United States)'], ['October 16, 2020'], ['October 15, 2020 ( Rome Film Festival )', 'November 20, 2020 (United States)'], ['March 12, 2021'], ['May 28, 2021 (United States)'], ['July 30, 2021 (United States)'], ['27 August 2021']]

In [ ]:
movie_info_list[-50]

{'title': 'The Jungle Book',
 'Directed by': 'Jon Favreau',
 'Produced by': ['Jon Favreau', 'Brigham Taylor'],
 'Written by': 'Justin Marks',
 'Based on': ['The Jungle Book', 'by', 'Rudyard Kipling'],
 'Starring': ['Bill Murray',
  'Ben Kingsley',
  'Idris Elba',
  "Lupita Nyong'o",
  'Scarlett Johansson',
  'Giancarlo Esposito',
  'Christopher Walken',
  'Neel Sethi'],
 'Music by': 'John Debney',
 'Cinematography': 'Bill Pope',
 'Edited by': 'Mark Livolsi',
 'Production company': ['Walt Disney Pictures', 'Fairview Entertainment'],
 'Distributed by': ['Walt Disney Studios', 'Motion Pictures'],
 'Release date': ['April 4, 2016 ( El Capitan Theatre )',
  'April 15, 2016 (United States)'],
 'Running time': '106 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$175–177 million',
 'Box office': '$966.6 million',
 'Running time (int)': 106,
 'Budget (float)': 175000000.0,
 'Box office (float)': 966600000.0}

In [ ]:
# June 28, 1950
from datetime import datetime

dates = [movie.get('Release date', 'N/A') for movie in movie_info_list]

def clean_date(date):
    return date.split("(")[0].strip()

def date_conversion(date):
    if isinstance(date, list):
        date = date[0]
        
    if date == "N/A":
        return None
        
    date_str = clean_date(date)

    fmts = ["%B %d, %Y", "%d %B %Y"]
    for fmt in fmts:
        try:
            return datetime.strptime(date_str, fmt)
        except:
            pass
    return None

In [ ]:
for movie in movie_info_list:
    movie['Release date (datetime)'] = date_conversion(movie.get('Release date', 'N/A'))

In [ ]:
movie_info_list[50]

In [ ]:
import pickle

def save_data_pickle(name, data):
    with open(name, 'wb') as f:
        pickle.dump(data, f)

In [ ]:
import pickle

def load_data_pickle(name):
    with open(name, 'rb') as f:
        return pickle.load(f)

In [ ]:
save_data_pickle("disney_movie_data_cleaned_more.pickle", movie_info_list)

In [ ]:
a = load_data_pickle("disney_movie_data_cleaned_more.pickle")

In [ ]:
a == movie_info_list

### Task #4: Attach IMDB/Rotten Tomatoes/Metascore scores

In [ ]:
movie_info_list = load_data_pickle('disney_movie_data_cleaned_more.pickle')

In [ ]:
movie_info_list[-60]

In [ ]:
# http://www.omdbapi.com/?apikey=[yourkey]&

In [ ]:
import requests
import urllib
import os

def get_omdb_info(title):
    base_url = "http://www.omdbapi.com/?"
    parameters = {"apikey": os.environ['OMDB_API_KEY'], 't': title}
    params_encoded = urllib.parse.urlencode(parameters)
    full_url = base_url + params_encoded
    return requests.get(full_url).json()

def get_rotten_tomato_score(omdb_info):
    ratings = omdb_info.get('Ratings', [])
    for rating in ratings:
        if rating['Source'] == 'Rotten Tomatoes':
            return rating['Value']
    return None

get_omdb_info("into the woods")

In [ ]:
for movie in movie_info_list:
    title = movie['title']
    omdb_info = get_omdb_info(title)
    movie['imdb'] = omdb_info.get('imdbRating', None)
    movie['metascore'] = omdb_info.get('Metascore', None)
    movie['rotten_tomatoes'] = get_rotten_tomato_score(omdb_info)

In [ ]:
movie_info_list[-30]

In [ ]:
for movie in movie_info_list:
    movie['imdb'] = float(movie['imdb'])
    movie['metascore'] = float(movie['metascore'])
    movie['rotten_tomatoes'] = float(movie['rotten_tomatoes'].strip('%'))

In [ ]:
save_data_pickle('disney_movie_data_final.pickle', movie_info_list)

### Task #5: Save data as JSON & CSV

In [ ]:
movie_info_list[50]

In [ ]:
movie_info_copy = [movie.copy() for movie in movie_info_list]

In [ ]:
for movie in movie_info_copy:
    current_date = movie['Release date (datetime)']
    if current_date:
        movie['Release date (datetime)'] = current_date.strftime("%B %d, %Y")
    else:
        movie['Release date (datetime)'] = None

In [ ]:
save_data("disney_data_final.json", movie_info_copy)

*italicized text*#### Convert data to CSV

In [ ]:
import pandas as pd

df = pd.DataFrame(movie_info_list)

In [ ]:
df.head()

In [ ]:
df.to_csv("disney_movie_data_final.csv")

In [ ]:
running_times = df.sort_values(['Running time (int)'],  ascending=False)
running_times.head(20)